In [1]:
import pandas as pd
import glob
import os
from pandas import DataFrame

In [2]:
os.getcwd()

'C:\\Users\\Lenovo\\IIM_Skills_M.S Vanthana\\Pandas\\Revision_pandas'

In [3]:
os.chdir("D:\Data Science\Python  Module\IIM Skills Read CSV")

In [4]:
os.getcwd()

'D:\\Data Science\\Python  Module\\IIM Skills Read CSV'

In [5]:
path = os.getcwd()

In [10]:
files = glob.glob(os.path.join(path,"*.csv"))

In [13]:
list_files = []
for file in files:
    file_info  = pd.read_csv(file)
    file_info.columns = file_info.iloc[1]
    file_info = file_info.iloc[2:]
    list_files.append(file_info)


# print(list_files)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10536\572239061.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  file_info  = pd.read_csv(file)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10536\572239061.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  file_info  = pd.read_csv(file)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10536\572239061.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  file_info  = pd.read_csv(file)

In [14]:
DataFrame = pd.concat(list_files)
DataFrame

1,SalesKey,DateKey,channelKey,StoreKey,ProductKey,PromotionKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,ReturnAmount,DiscountQuantity,DiscountAmount,TotalCost,SalesAmount,GeographyKey,Date
2,4687,39083,1,93,700,2,73.12,159,9,0,0,0,0,658.08,1431,787,01-01-2014
3,6576,39083,1,253,1846,5,509.32,999,3,1,999,1,149.85,1527.96,2847.15,558,01-01-2014
4,10301,39083,2,199,1822,2,16.31,32,4,0,0,7,11.2,65.24,116.8,800,01-01-2014
5,12973,39083,2,199,1444,2,105.77,230,18,0,0,1,11.5,1903.86,4128.5,800,01-01-2014
6,13143,39083,1,125,2517,2,1.71,3.35,80,1,3.35,0,0,136.8,268,916,01-01-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219564,3388077,40178,1,217,1108,28,208.4,629.0,8,0,0.0,3,377.4,1667.2,4654.6,759,31-12-2016
219565,3392235,40178,1,30,1092,22,222.98,673.0,6,0,0.0,3,403.8,1337.88,3634.2,829,31-12-2016
219566,3394640,40178,3,200,1428,22,123.24,268.0,13,0,0.0,4,214.4,1602.12,3269.6,894,31-12-2016
219567,3397579,40178,2,307,2206,23,210.72,635.99,24,1,635.99,10,953.985,5057.28,14309.775,710,31-12-2016
219568,3400314,40178,1,276,376,23,195.24,382.95,13,1,382.95,4,229.77,2342.88,4748.58,711,31-12-2016

In [17]:
DataFrame.columns

Index(['SalesKey', 'DateKey', 'channelKey', 'StoreKey', 'ProductKey',
       'PromotionKey', 'UnitCost', 'UnitPrice', 'SalesQuantity',
       'ReturnQuantity', 'ReturnAmount', 'DiscountQuantity', 'DiscountAmount',
       'TotalCost', 'SalesAmount', 'GeographyKey', 'Date'],
      dtype='object', name=1)

In [20]:
## Get Particluar columns

Required_Data = DataFrame[['SalesKey','UnitCost', 'UnitPrice', 'SalesQuantity',
       'ReturnQuantity', 'ReturnAmount', 'DiscountQuantity', 'DiscountAmount',
       'TotalCost', 'SalesAmount', 'GeographyKey', 'Date']]

In [22]:
DataFrame['DateKey'].unique()

array(['39083', '39084', '39085', ..., 40176, 40177, 40178], dtype=object)

In [23]:
DataFrame['channelKey'].unique()

array(['1', '2', '4', '3', 1, 4, 2, 3], dtype=object)

In [25]:
# We are in the Same location where our excel file is store thus tom read that excel files & their Worksheets file we are use below code

xls = pd.ExcelFile("lookup1.xlsx")

# reading the Worksheets 
# Syntax : Veriable = pd.read_excel(xls,"SHEET NAME")
sheetOne = pd.read_excel(xls,"Product")
sheetTwo = pd.read_excel(xls,"Geography")
sheetThree = pd.read_excel(xls,"Channel")

In [28]:
DataFrame['channelKey'].unique()

array(['1', '2', '4', '3', 1, 4, 2, 3], dtype=object)

In [30]:
DataFrame['channelKey'] = DataFrame['channelKey'].astype(int)
DataFrame['channelKey'].unique()

array([1, 2, 4, 3])