### Date : 7th April 2024
### Conduct By: M.S. Vanthana
### Topic : Sets and Dictinaries

#### Set: it is the collection of unorderd elements, we can not access the set element by index 
####      dont allow Duplicates

In [1]:
# Set Syntax : 
simple_set = {"Roshan",True,42.31,"Change",'A+'}

In [2]:
simple_set

{42.31, 'A+', 'Change', 'Roshan', True}

In [3]:
exception_set = {True,"Set",1}

In [4]:
exception_set

{'Set', True}

###### Note : We can Access the elements of Sets using iteratting. usong for loop

#### Set : We can add and remove the Elements from  the set {}. can't access element by index like set[0]
#### Tuple : We can't add and remove anyting (). we can access the element by index like tuple[2]

##### Sets methods :
##### 1) add() : this method is use for add single element
##### 2) update() : to join/combine tow sets we can use this method

In [5]:
simple_set.add(78)

In [6]:
simple_set

{42.31, 78, 'A+', 'Change', 'Roshan', True}

In [7]:
# combine simple_set and exception_set : add elements of exception_set into simple_set
simple_set.update(exception_set)

In [8]:
simple_set

{42.31, 78, 'A+', 'Change', 'Roshan', 'Set', True}

#### Removing Elements from Sets 
##### 1) discard() : dont' show any error if the 'elements for remove'  is not present
##### 2) remove() : Showing error when the 'elements want to remove' is not present

In [9]:
Set_1 = {"Apple","Pinapple","Banana","Cherry"}

Set_1.discard("Roshan")

In [10]:
Set_1.remove("king")

KeyError: 'king'

### Joining more than two Sets 
### Syntax : set1 | set2 | set3...

In [11]:
Set_One = {"Roshan","Learning",7845}
Set_two = {"xyz",11.23,True}
Set_three = {45.31,"Question",False}

Set_four = Set_One | Set_two | Set_three

In [12]:
Set_four

{11.23, 45.31, 7845, False, 'Learning', 'Question', 'Roshan', True, 'xyz'}

## While loop

In [13]:
i = 0;
while i< 6:
    i += 1
    print(i)

1
2
3
4
5
6

In [14]:
i = 5;
while i< 10:
    i += 2
    print(i)

7
9
11

#### Break and Continue

In [1]:
# break
i = 0;
while i< 6:
    if i == 5:
        break;
    i += 1
    print(i)

1
2
3
4
5

In [3]:
# contiue 
u = 0;
while u< 10:
    u += 1
    if u == 4:
        continue;
   
    print(u)

1
2
3
5
6
7
8
9
10

# Dictonaries

In [4]:
# it is store the the value as key-value pair 
Person = {"Name": "Roshan",
          "Age": 26,
          "Location":"India"}

type(Person)

dict

In [8]:
Person

{'Name': 'Roshan', 'Age': 26, 'Location': 'India'}

In [9]:
len(Person)

3

In [10]:
Person.keys()

dict_keys(['Name', 'Age', 'Location'])

In [11]:
Person.values()

dict_values(['Roshan', 26, 'India'])

In [12]:
Person.items()

dict_items([('Name', 'Roshan'), ('Age', 26), ('Location', 'India')])

In [14]:
edu_list = ["B.Sc (cs)","M.Sc (cs)"]

Person["education"] = edu_list

In [16]:
Person

{'Name': 'Roshan',
 'Age': 26,
 'Location': 'India',
 'education': ['B.Sc (cs)', 'M.Sc (cs)']}

In [28]:
education2 = Person["education"]

In [29]:
education2[1]

'M.Sc (cs)'

In [40]:
list = Person['education'][1]

In [38]:
list[1]

'M.Sc (cs)'

### Looping over Dict

In [41]:
for key in Person.keys():
    print(key)

Name
Age
Location
education

In [42]:
for val in Person.values():
    print(val)

Roshan
26
India
['B.Sc (cs)', 'M.Sc (cs)']

In [43]:
for item in Person.items():
    print(item)

('Name', 'Roshan')
('Age', 26)
('Location', 'India')
('education', ['B.Sc (cs)', 'M.Sc (cs)'])

In [45]:
for key in Person:
    print(key," : ",Person[key])

Name  :  Roshan
Age  :  26
Location  :  India
education  :  ['B.Sc (cs)', 'M.Sc (cs)']

In [49]:
Dict_2 = {
    "PQR":26,
    "SQR":30,
    "WQR":24
}

name = []
age = []
for  key,val in Dict_2.items():
    key = "name_"+key
    val = "age_"+str(val)
    name.append(key)
    age.append(val)

print(name)
print(age)

['name_PQR', 'name_SQR', 'name_WQR']
['age_26', 'age_30', 'age_24']